.confirmed {
    border: 2px solid #4b4b4b;
    color: #4b4b4b;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
}

.text span {
    display: block;
    margin-bottom: 10px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #2836a0;
    color: #cecece;
    border-radius: 2px;
}