@import "../../styles/vars.module.scss";

.container {
    display: flex;
    justify-content: space-between;
}

.paginationButton {
    width: 100px;
    height: 40px;
    text-transform: capitalize;
    color: $color-white;
    background-color: $color-dark-blue;
    border: none;

    &:disabled {
        background-color: $color-gray;
        color: $color-black;
    }
}
