.container {
  width: 500px;
  height: 50px;  
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e1e1e1;
  margin: 40px 50px;
  font-weight: 600;
  font-size: 21px;
}

.container div {
  width: 150px;
}


.container div:hover {
  cursor: pointer;
  color: #051895;
}

.active {
  border-bottom: 3px solid rgb(0, 0, 0);
}