.container {
    width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container div {
    font-size: 20px;
}

.container input {
    font-size: 20px;
}

.container button {
    width: 100%;
    height: 50px;
    font-size: 20px;
}
