.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 100px 150px;
}

.link {
  font-size: 15px;
  margin-bottom: 20px;
}

.title {
  font-size: 25px;
  font-weight: 700px;
  margin-bottom: 30px;
}

/* .body {
  align-self: center;
} */
