.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 2px;
    background-color: white;
    margin-bottom: 6px;
    margin-left: 5px;
    cursor: pointer;
}
.baractive1 {
    transition: 0.1s;
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: 0.1s;
    transform: rotate(-45deg) translate(0, 6px);
}
.baractive2 {
    display: none;
}
.baractive3 {
    transition: 0.1s;
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.1s;
    transform: rotate(45deg) translate(0, -6px);
}
.menu__section {
    display: none;
}
.menuactive {
    display: block;
    transition: 0.5s;
    position: absolute;
    top: 50px;
    width: 300px;
    height: 350px;
    background-color: rgb(112, 112, 221);
    opacity: 0.4;
}