.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
  width: 30%;
  margin: 20px 0;
  border: 2px solid rgb(170, 15, 82);
  border-radius: 15px;
  background-color: rgb(4, 71, 93);
  color: white;
}
.containerDark {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  max-width: 260px;
  margin: 20px 0;
  background-color: rgb(85, 81, 81);
  color: white;
}
.textcontent {
  display: flex;
  flex-direction: column;
}

.textcontent div {
  font-size: medium;
  color: inherit;
}

.image {
  width: 100%;
  border-radius: 15px;
}
