.wrapper {
  background-color: #f0f0f0;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
}

input {
  width: 600px;
  height: 35px;
  border: 2px solid blue;
  outline: none;
  padding-left: 5px;
}

input:focus {
  background-color: rgb(120, 120, 232);
}

.prev  {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.prev button {
  border: 1px solid black;
  width: 50px;
  background-color: blue;
  color: #f0f0f0;
}

select option {
  border: 1px solid black;
  width: 50px;
  background-color: rgb(128, 128, 221);
  color: #f0f0f0;
  font-size: 18px;
}

select {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  width: 100px;
  height: 35px;
  background-color: blue;
  color: #f0f0f0;
  font-size: 18px;
}