.spinner {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 17.6px;
    height: 17.6px;
    animation: spinner-o824ag 0.8s infinite linear;
}

.spinner div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3b1fea;
    border-radius: 50%;
    animation: spinner-vse6n7 1s infinite ease;
}

.spinner div:nth-child(1) {
    --rotation: 90;
}

.spinner div:nth-child(2) {
    --rotation: 180;
}

.spinner div:nth-child(3) {
    --rotation: 270;
}

.spinner div:nth-child(4) {
    --rotation: 360;
}

@keyframes spinner-vse6n7 {
    0%, 100% {
        transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
    }

    50% {
        transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
    }
}

@keyframes spinner-o824ag {
    to {
        transform: rotate(360deg);
    }
}