.container {
  background-color: #f0f0f0;
  padding: 12px;
  width: 250px;
}

.content {
  display: flex;
}

.image {
  width: 50px;
}

.date {
  font-weight: 600;
  color: rgb(112, 112, 112);
  padding: 0;
  line-height: 0;
}

.text {
  padding: 0 10px 0;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.button {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(100, 99, 99);
  padding-bottom: 5px;
  color: rgb(113, 113, 114);
}

button {
  border: none;
  width: 25px;
  min-height: 25px;
  margin: 5px;
}

.btnLike {
  background-image: url('../../image/like.png');
}

.btnDisLike {
  background-image: url('../../image/dislike.png');
}

.bookmark {
  background-image: url('../../image/bookmark.png');
}

.more {
  background-image: url('../../image/more.png');
}