@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Unbounded:wght@500&display=swap');
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid rgb(241, 238, 238);
    background-color: rgb(241, 238, 238);
    padding: 10px;
    width: 312px;
    height: 300px;
}
.cardFavorite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid rgb(241, 238, 238);
    background-color: rgb(126, 126, 195);
    padding: 10px;
    width: 312px;
    height: 300px;
}
.image {
    width: 310px;
    height: 200px;
}
.date {
    color: rgb(94, 93, 93);
    font-size: 16px;
    font-family: 'Montserrat';
}
.title {
    margin-top: 10px;
    font-family: 'Unbounded';
    font-size: 26px;
    font-weight: bold;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonlike {
    display: flex;
    justify-content: space-around;
    
}
.buttonsave {
    display: flex;
    justify-content: space-around;
    margin-left: 180px;
}

.button {
    border: none;
    background-color: rgb(241, 238, 238);
    font-size: 22px;
    cursor: pointer;
}
.buttonA {
    background-color: rgb(44, 44, 156);
    border: none;
    font-size: 22px;
    cursor: pointer;
}