.container {
  background-color: #f0f0f0;
  padding: 15px 25px 15px 0;
  width: 250px;
  height: 170px;
}

.containerDark {
  background-color: #707070;
  padding: 15px 25px 15px 0;
  width: 250px;
  height: 170px;
}

.content {
  display: flex;
}

.image {
  width: 50px;
}

.date {
  font-weight: 600;
  color: rgb(196, 194, 194);
  padding: 10px 0;
  line-height: 0;
}

.text {
  padding-right: 10px;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.button {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(100, 99, 99);
  padding-bottom: 5px;
  color: rgb(113, 113, 114);
}

button {
  border: none;
  width: 25px;
  min-height: 25px;
  margin: 5px;
}

.btnLike {
  background-image: url('../../img/like.png');
}

.btnDisLike {
  background-image: url('../../img/dislike.png');
}

.bookmark {
  background-image: url('../../img/bookmark.png');
}

.more {
  background-image: url('../../img/more.png');
}