/*--------------обнуление----------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: 100%;
  color: #7a7a7a;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  background-color: #dedede;
}

button {
  cursor: pointer;
}

/*----------------------------------------------------*/