.menuClosed {
  width: 30px;
  height: 30px;
  background-image: url('../../img/menu.png');
  background-size: cover;
  cursor: pointer;
}

.menuOpen {
  width: 30px;
  height: 30px;
  background-image: url('../../img/menu.png');
  background-size: cover;
  cursor: pointer;
}

.containerOpen {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 150px;

  background-color: rgb(68, 68, 245);
  color: #fff;
}

.containerOpen li {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 0;
}

.containerOpen li:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(110, 110, 249);
}

.containerClosed {
  display: none;
}

.active {
  color: rgb(242, 255, 0);
  background-color: rgb(28, 28, 255);
}