.container {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}
.content {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.button {
    width: 100px;
    height: 30px;
    background-color: rgb(44, 44, 156);
}
.link {
    cursor: pointer;
    font-size: 22px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}