.container {
    width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div {
    font-size: large;
    margin-bottom: 10px;
}
.container input {
    margin-top: 5px;
    font-size: large;
}
.container button {
    width: 100%;
    height: 50px;
}